<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎登录</title>
<link href="/css/main.css" type="text/css" rel="stylesheet"/>
<script src="/js/jQuery-2.1.4.min.js" type="text/javascript"></script>
<script src="/js/jquery.cookie.js" type="text/javascript"></script>
<script src="/js/layer/layer.js"></script>
</head>

<body>
	<div class="login-wrap">
    	<div class="header">
    		<div class="content">
				## update by dhf 2018年9月17日 20:28:20 公司logo如果不存在则默认项目中的logo图片
        		<div class="header-logo"><img #if("$!{logo}" != "" && $!{logo} != "null") src="$!{reference.getImageUrl()}$!{logo}" #else src="/images/companylogo.png" #end/></div>
        		<div class="header-alt"></div>
        		<div class="header-tools">客服热线：400-698-6080<span class="m-l">客服QQ：800006343</span></div>
    		</div>
    	</div>
    	<!--header end-->
    <form method="post" id="loginForm" action="/login/checkLogin.html">
    	<div class="cont blue2-bg">
    		<div class="cont-left" style="background-image: url(/images/banner2.png)"></div>
    		<div class="cont-right">
    			<div class="login-box">
    				<h5 class="l-title">欢迎登录</h5>
    				<div id="login-prompt">
    					<span></span>	
    				</div>
    				<div class="l-body">
    					<div class="form-group">
    						<i class="user"></i>
    						<input id="username" type="text" name="username" placeholder="请输入用户名" class="form-control"/>
    					</div>
    					<div class="form-group">
    						<i class="psd"></i>
    						<input type="password" id="loginPasswd" name="password" placeholder="请输入密码" class="form-control"/>
    					</div>
    					<div class="form-group">
    						<i class="code"></i>
    						<input type="text" id="verifyCode" name="verifyCode" placeholder="请输入验证码" class="form-control" style="width: 200px; float: left;"/>
        					<div style="display:block;float:right; margin:0 0 0 10px;"  data-toggle="tooltip" title="点击图片刷新验证码">
        						<script type="text/javascript">
        							function changeValidateCode() {
        								var XMLHttp = null;  
                                        if (window.XMLHttpRequest) {  
                                            XMLHttp = new XMLHttpRequest()  
                                        } else if (window.ActiveXObject) {  
                                            XMLHttp = new ActiveXObject("Microsoft.XMLHTTP");  
                                        }  
                                        XMLHttp.onreadystatechange = function() {  
                                            if (XMLHttp.readyState == 4) {  
                                                $("#img").attr("src","/random/execute.html?" + new Date())//改变验证码图片    
                                            }  
                                        }  
                                        //将请求发送出去    
                                        //加上new Date()防止浏览器缓存，不重新发送请求  
                                        XMLHttp.open("GET", "/random/execute.html?" + new Date(), true);  
                                        XMLHttp.send(null);
        							}
        						</script>
        						<img src="/random/execute.html" style="cursor:pointer" onclick="changeValidateCode()" id="img"/> 
        					</div>
    					</div>
                        <div class="clearfix"></div>
    					<div class="m-t-sm">
    						<button type="button" onclick="login()"  class="btn btn-warning btn-sub">登录</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<input type="hidden" name="cdkey" value="$!{cdkey}"/>
		<input type="hidden" name="ukey" value="$!{ukey}"/>
    	<input type="hidden" name="dmckey" value="$!{dmckey}"/>
    	<input type="hidden" name="computername" value="$!{computername}"/>
    	<input type="hidden" name="cuname" value="$!{cuname}"/>
    	<input type="hidden" name="mac" value="$!{mac}"/>
     </form>
    	<!--cont end-->
    	<div class="footer">
    		<p>© 2017-现在  北京汇智凌云软件技术有限公司  版权所有 All Rights Reserved</p>
    		<p> <a href="http://www.hzlysoft.com">京ICP备14015564号</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 联系电话：400-698-6080</p>
    	</div>
	</div>
	<script type="text/javascript">
		$(function(){
		 	 $("#loginPasswd").capsLockTip();//输入密码时提示大写锁定已打开
		})
		
		//获取超时时间
		function getTimeOut(){
			jQuery.ajax({
        		url: "/login/getTimeOut.html",
        		dataType: "json",
        		async: true, //update by swp 2018年9月27日14:13:39 bug#21291 修改请求方式为异步请求，解决部分客户端同步请求跳过不执行问题
        		type: "post",
        		success: function (data){
					if(typeof(window.timeoutFunction) == "function"){
						window.timeoutFunction(data*60);
					}
        		}
    		});
		}
		
		function login(){
			var visiturl = "";
			#if($!{interVisitRemark} == 'iosMac')
				visiturl="/login/checkIosMacLogin.html"
			#else
				visiturl="/login/checkLogin.html"
			#end
    		jQuery.ajax({
    			type : "post",
    			url : visiturl,
    			data : $("#loginForm").serialize(),
    			dataType : "json",
				async: true, //update by swp 2018年9月27日14:13:39 bug#21291 修改请求方式为异步请求，解决部分客户端同步请求跳过不执行问题
    			success : function(data) {
					if(data.result == true || "true" == data.result){
						//判断是否跳转至工作台
						var isWorkbench = false;
						jQuery.ajax({
                    		url: "/brokerworkbench/verifyPostproperties.html",
                    		dataType: "json",
                    		async: true, //update by swp 2018年9月27日14:13:39 bug#21291 修改请求方式为异步请求，解决部分客户端同步请求跳过不执行问题
                    		type: "post",
                    		success: function (data){
                    			if(data.isWorkbench == true || data.isWorkbench == 'true'){
                    				isWorkbench = data.isWorkbench;
                    			}
								var URL = "";
        						if(isWorkbench == true || isWorkbench == 'true'){ //跳转至工作台
        							URL = "/brokerworkbench/toMain.html?modulecode=01";
        							window.location.href = URL;
									executeFun();
        						}else{ //跳转至企业简介
        							//BUG 17461 update by dhf 2018年1月18日 15:44:40 福州朝阳（bug）：员工的岗位恢复数据后，登录不上系统，如果岗位下没有配置任何一个模块，则提示不进行跳转
        							var forward = "";
        							jQuery.ajax({
                                		url:"/usefulness/getFirstPage.html",
                                		async: true,  //update by swp 2018年9月27日14:13:39 bug#21291 修改请求方式为异步请求，解决部分客户端同步请求跳过不执行问题
        								dataType : "json",
        								type: "post",
                                		success: function (data){
        									if(data.sysmoduleList!=null && data.sysmoduleList.length>0){
            									for(var i = 0;i<data.sysmoduleList.length;i++){
            										if((data.sysmoduleList[i].moduleurl != null) && (data.sysmoduleList[i].moduleurl != '') && (data.sysmoduleList[i].moduleurl != undefined) && (data.sysmoduleList[i].moduleurl != 'javascript:void(0)') && (data.sysmoduleList[i].moduleurl != '#')){
														//记录地址
        												forward = data.sysmoduleList[i].moduleurl;
														//update by yzy 2018年10月17日15:15:44  修改核心登录，岗位模块只配置了新房，跳转新房的url
														if(data.sysmoduleList[i].modulecode == '10'){
															window.location.href = "$!{reference.getSystemDomain('XF')}"+data.sysmoduleList[i].moduleurl;
														}else{
                											window.location.href = data.sysmoduleList[i].moduleurl;
														}
            											break;
            										}
            									}
        									}else{
        										URL="/company/company.html?modulecode=06";
        										//记录地址
        										forward = URL;
        										window.location.href = URL;
        									}
                            				//BUG 17461 update by dhf 2018年1月18日 15:44:40 福州朝阳（bug）：员工的岗位恢复数据后，登录不上系统，如果岗位下没有配置任何一个模块，则提示不进行跳转
                							if(forward == ""){
                								$(".btn-sub").text("登录");
                								layer.msg("您的岗位下没有配置系统模块信息，无法登录！请联系管理员配置岗位模块信息！");
                								return;
                							}
											executeFun();
                            			}
                                	});
        						}
                    		}
                    	});
					}else{
						$("#verifyCode").val("");
						changeValidateCode();
						loginPrompt(data.qtyErrMsg);
					}
				}
    		});
		}
		
		//update by swp 2018年9月27日16:24:58 bug#21291 window相关封装为公共函数
		function executeFun(){
			if(typeof(window.userNameFunction) == "function"){
				window.userNameFunction($("#username").val());
			}
			getTimeOut();
			if(typeof(window.cookieFunction) == "function"){
				window.cookieFunction(jQuery.cookie('glo_s'));
			}
			$(".btn-sub").text("正在登录，请稍后...")
		}
		
		function loginPrompt(str){
			$('#login-prompt').children('span').text(str);
		}
		
		function keyProcess(e) {  
            var e = e || event;  
            var currentKey = e.keyCode || e.which || e.charCode;  
            if (currentKey == 13 ) {  
                login();  
            }  
        }
		
    	document.onkeydown = keyProcess;
	</script>
</body>
</html>
